@{
    ViewData["Title"] = "Home Page";
}


<section class="hero">
    <div class="hero-info hero-info-i col-12 d-flex align-items-center">
        <div class="container p-0">
            <h1 class="heading">
                Avatar: <br />
                The Way of Water
            </h1>
            <p class="desc-text col-12 col-sm-11 col-md-7 col-lg-6 col-xl-6 p-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
                inventore explicabo, omnis perferendis expedita ipsa praesentium
                laborum consectetur quas provident.
            </p>
            <button class="btn btn-lg button mt-4">Book Now →</button>
        </div>
    </div>
</section>
<section class="search-section">
    <div class="container search-section-info">
        <div class="search-section-content py-5 col-12 text-center">
            <h3 class="sub-heading-sm">OnScape Movies</h3>
            <h1 class="sub-heading mb-4">FIND WHAT YOU LOOKING FOR!</h1>
            <div class="input-group mx-auto p-0 my-5 col-12 col-sm-12 col-md-8 col-lg-7 col-xl-7" style="z-index:0">
                <input type="text"
                       class="form-control form-control-lg bg-white text-primary"
                       placeholder="Search..." />

                <button class="btn button">Search</button>
            </div>
            <p class="desc-text">
                We respect your privacy, so we never share your info
            </p>
        </div>
    </div>
</section>

<section class="movie-grid mb-5">
      <div class="container">
        <!-- <h4 class="desc-text m-0">Now</h4> -->
        <h2 class="sub-heading">Showing</h2>
        <div class="row-fluid d-flex align-items-end mb-4">
          <div
            class="left-line col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2"
          ></div>
          <div class="right-line"></div>
        </div>
        <div class="movie-list-coming d-flex">
          <div class="movie-card p-0 col-12 col-md-6 col-lg-4 col-xl-4">
            <div class="img-wrapper">
              <img
                class="col-12 m-0 p-0"
                src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/280186877_327463976185980_4928049883994991289_n_480x.progressive.jpg?v=1653311094"
                alt=""
              />
            </div>
            <div class="card-info pt-3 px-3">
              <div
                class="row-fluid d-flex align-items-center justify-content-between"
              >
                <h5 class="text-white m-0">Movie Title</h5>
                <h5 class="desc-text m-0">⭐4.5</h5>
              </div>
              <hr class="line" />
              <div class="row-fluid d-flex">
                <p class="desc-text pill px-2 py-1">Action</p>
                <p class="desc-text pill px-2 py-1">Crime</p>
                <p class="desc-text pill px-2 py-1">Thriller</p>
              </div>
            </div>
            <div class="backdrop">
              <div class="backdrop-content-wrapper">
                <button class="btn btn-lg button view-details">
                  View Details
                </button>
              </div>
            </div>
          </div>
          <div class="movie-card p-0 col-12 col-md-6 col-lg-4 col-xl-4">
            <div class="img-wrapper">
              <img
                class="col-12 m-0 p-0"
                src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/rons-gone-wrong_6mrd9trb_480x.progressive.jpg?v=1637342410"
                alt=""
              />
            </div>
            <div class="card-info pt-3 px-3">
              <div
                class="row-fluid d-flex align-items-center justify-content-between"
              >
                <h5 class="text-white m-0">Movie Title</h5>
                <h5 class="desc-text m-0">⭐4.5</h5>
              </div>
              <hr class="line" />
              <div class="row-fluid d-flex">
                <p class="desc-text pill px-2 py-1">Action</p>
                <p class="desc-text pill px-2 py-1">Crime</p>
                <p class="desc-text pill px-2 py-1">Thriller</p>
              </div>
            </div>
            <div class="backdrop">
              <div class="backdrop-content-wrapper">
                <button class="btn btn-lg button view-details">
                  View Details
                </button>
              </div>
            </div>
          </div>
          <div class="movie-card p-0 col-12 col-md-6 col-lg-4 col-xl-4">
            <div class="img-wrapper">
              <img
                class="col-12 m-0 p-0"
                src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/black-adam_t9tj2u28_480x.progressive.jpg?v=1657031326"
                alt=""
              />
            </div>
            <div class="card-info pt-3 px-3">
              <div
                class="row-fluid d-flex align-items-center justify-content-between"
              >
                <h5 class="text-white m-0">Movie Title</h5>
                <h5 class="desc-text m-0">⭐4.5</h5>
              </div>
              <hr class="line" />
              <div class="row-fluid d-flex">
                <p class="desc-text pill px-2 py-1">Action</p>
                <p class="desc-text pill px-2 py-1">Crime</p>
                <p class="desc-text pill px-2 py-1">Thriller</p>
              </div>
            </div>
            <div class="backdrop">
              <div class="backdrop-content-wrapper">
                <button class="btn btn-lg button view-details">
                  View Details
                </button>
              </div>
            </div>
          </div>
          <div class="movie-card p-0 col-12 col-md-6 col-lg-4 col-xl-4">
            <div class="img-wrapper">
              <img
                class="col-12 m-0 p-0"
                src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/d6bba0bf90c74eb85c52c38f4ac235c0_90573dc4-d1b6-4511-84f8-44d446c1089c_480x.progressive.jpg?v=1573592563"
                alt=""
              />
            </div>
            <div class="card-info pt-3 px-3">
              <div
                class="row-fluid d-flex align-items-center justify-content-between"
              >
                <h5 class="text-white m-0">Movie Title</h5>
                <h5 class="desc-text m-0">⭐4.5</h5>
              </div>
              <hr class="line" />
              <div class="row-fluid d-flex">
                <p class="desc-text pill px-2 py-1">Action</p>
                <p class="desc-text pill px-2 py-1">Crime</p>
                <p class="desc-text pill px-2 py-1">Thriller</p>
              </div>
            </div>
            <div class="backdrop">
              <div class="backdrop-content-wrapper">
                <button class="btn btn-lg button view-details">
                  View Details
                </button>
              </div>
            </div>
          </div>
          <div class="movie-card p-0 col-12 col-md-6 col-lg-4 col-xl-4">
            <div class="img-wrapper">
              <img
                class="col-12 m-0 p-0"
                src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/newmutants.aug28.ar_480x.progressive.jpg?v=1598649867"
                alt=""
              />
            </div>
            <div class="card-info pt-3 px-3">
              <div
                class="row-fluid d-flex align-items-center justify-content-between"
              >
                <h5 class="text-white m-0">Movie Title</h5>
                <h5 class="desc-text m-0">⭐4.5</h5>
              </div>
              <hr class="line" />
              <div class="row-fluid d-flex">
                <p class="desc-text pill px-2 py-1">Action</p>
                <p class="desc-text pill px-2 py-1">Crime</p>
                <p class="desc-text pill px-2 py-1">Thriller</p>
              </div>
            </div>
            <div class="backdrop">
              <div class="backdrop-content-wrapper">
                <button class="btn btn-lg button view-details">
                  View Details
                </button>
              </div>
            </div>
          </div>
          <div class="movie-card p-0 col-12 col-md-6 col-lg-4 col-xl-4">
            <div class="img-wrapper">
              <img
                class="col-12 m-0 p-0"
                src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/54362_2_480x.progressive.png.jpg?v=1634831916"
                alt=""
              />
            </div>
            <div class="card-info pt-3 px-3">
              <div
                class="row-fluid d-flex align-items-center justify-content-between"
              >
                <h5 class="text-white m-0">Movie Title</h5>
                <h5 class="desc-text m-0">⭐4.5</h5>
              </div>
              <hr class="line" />
              <div class="row-fluid d-flex">
                <p class="desc-text pill px-2 py-1">Action</p>
                <p class="desc-text pill px-2 py-1">Crime</p>
                <p class="desc-text pill px-2 py-1">Thriller</p>
              </div>
            </div>
            <div class="backdrop">
              <div class="backdrop-content-wrapper">
                <button class="btn btn-lg button view-details">
                  View Details
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

